@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	background-image: url("../images/bg.png");
	font-family: 'VT323', monospace;
	font-size: 36px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark ) {
  html {
    color-scheme: dark;
  }
  body {
    color-scheme: dark;
  }
}

@media (max-width: 480px) {

}
